<div class="first_container">

    <div class="first_container_left_text">
        <img src="../../assets/images/index/baseball_player.png" alt="">
        <div class="first_container_left_text_text">
            <div>
                <p class="text-pink">All the baseball players data for you</p>
            </div>
            <div>
                <p class="text-medium white">Including: Name, Team, Height, Weight and Age</p>
            </div>
        </div>
    </div>

    <div class="first_container_right_text">
        <div class="first_container_left_text_text" style="margin-right: 30px;">
            <div>
                <p class="text-pink">Even if you want to look for a especific team</p>
            </div>
            <div>
                <p class="text-medium white">BAL, CWS, ANA and more...</p>
            </div>
        </div>

        <img src="../../assets/images/index/baseball_team_icon.png" alt="">
    </div>



   
</div>



<div class="first_container_links">

    <div class="first_container_title">
        <p class="white title">Resources</p>
    </div>

    <div class="container_link">
        <a [routerLink]="['/teams']"><img src="../../assets/images/index/Baseball-index-links_background.png" alt="linkOne"></a>
        <hr>
        <p class="text-center white text-medium">Teams</p>
        <hr>
        <p class="white text-center">Here you will see all the teams available</p>
    </div>

    <div class="container_link">
        <a [routerLink]="['/players']"><img src="../../assets/images/index/batter.png" alt="linkOne"></a>
        <hr>
        <p class="text-center white text-medium">Players</p>
        <hr>
        <p class="white text-center">Here you will see all the players available</p>
    </div>

</div>
