/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Mines */

.text-pink {color: #e91e63;}
.white {color: white;}
.gray { color: lightgray }

.title { font-size: 4vw; }
.text-small {font-size: 1vw;}
.text-medium { font-size: 2vw; }
.text-large {font-size: 7vw;}
.fullWidth {width: 100%;}